name: Notify Dismissed Reviewer

on:
  pull_request_review:
    types: [dismissed]

jobs:
  notify-dismissed-reviewer:
    runs-on: ubuntu-latest
    if: ${{ !endsWith(github.event.review.user.login, '[bot]') }}
    steps:
      - name: Set Reviewer and PR URL
        id: setenv
        run: |
          echo "reviewer_login=${{ github.event.review.user.login }}" >> $GITHUB_OUTPUT
          echo "pr_url=${{ github.event.pull_request.html_url }}" >> $GITHUB_OUTPUT

      - name: Comment on PR to notify dismissed reviewer
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            @${{ github.event.review.user.login }} Your approval for this PR was dismissed by @${{ github.event.sender.login }}. Please review again! [PR link](${{ github.event.pull_request.html_url }})
